<div class="interactive-wrapper">
    <div class="scroll-wrapper">
        <div class="gv-member-search"></div>
        <div class="scroll-inner">
            
        </div> 
        <div class="scroll-text">
                <div class="scroll-text__inner">
                        <div class="scroll-text__div">
                            <p class="date-time">Party politics</p>
                            <p>First block</p>
                        </div> 
                    </div>
            {{#Sheet1}}
                <div class="scroll-text__inner">
                    <div class="scroll-text__div">
                        <p class="vote-title">{{voteTitle}}</p>
                        <p class="date-time">{{voteDate}}</p>
                        <p>{{narrative}}</p>
                    </div> 
                </div>
            {{/Sheet1}}
        </div>
    </div>

</div>