<div class="interactive-wrapper">
    <div class="scroll-wrapper">
        <div class="scroll-inner">
            
        </div> 
        <div class="scroll-text">
            <div class="scroll-text__inner">
                <div class="scroll-text__div">
                    <p>1Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed dui at libero vestibulum tincidunt in eu enim. Donec tempor dui eget erat aliquam pellentesque. Nam ornare, turpis non iaculis convallis, magna diam viverra odio, vel convallis nulla felis eget nibh.</p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div">
                    <p>2Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed dui at libero vestibulum tincidunt in eu enim. Donec tempor dui eget erat aliquam pellentesque. Nam ornare, turpis non iaculis convallis, magna diam viverra odio, vel convallis nulla felis eget nibh.</p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div">
                    <p>3Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed dui at libero vestibulum tincidunt in eu enim. Donec tempor dui eget erat aliquam pellentesque. Nam ornare, turpis non iaculis convallis, magna diam viverra odio, vel convallis nulla felis eget nibh.</p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div">
                    <p>4Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed dui at libero vestibulum tincidunt in eu enim. Donec tempor dui eget erat aliquam pellentesque. Nam ornare, turpis non iaculis convallis, magna diam viverra odio, vel convallis nulla felis eget nibh.</p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div">
                    <p>5Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed dui at libero vestibulum tincidunt in eu enim. Donec tempor dui eget erat aliquam pellentesque. Nam ornare, turpis non iaculis convallis, magna diam viverra odio, vel convallis nulla felis eget nibh.</p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div">
                    <p>6Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed dui at libero vestibulum tincidunt in eu enim. Donec tempor dui eget erat aliquam pellentesque. Nam ornare, turpis non iaculis convallis, magna diam viverra odio, vel convallis nulla felis eget nibh.</p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div">
                    <p>7Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed dui at libero vestibulum tincidunt in eu enim. Donec tempor dui eget erat aliquam pellentesque. Nam ornare, turpis non iaculis convallis, magna diam viverra odio, vel convallis nulla felis eget nibh.</p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div">
                    <p>8Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed dui at libero vestibulum tincidunt in eu enim. Donec tempor dui eget erat aliquam pellentesque. Nam ornare, turpis non iaculis convallis, magna diam viverra odio, vel convallis nulla felis eget nibh.</p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div">
                    <p>9Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed dui at libero vestibulum tincidunt in eu enim. Donec tempor dui eget erat aliquam pellentesque. Nam ornare, turpis non iaculis convallis, magna diam viverra odio, vel convallis nulla felis eget nibh.</p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div">
                    <p>10Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed dui at libero vestibulum tincidunt in eu enim. Donec tempor dui eget erat aliquam pellentesque. Nam ornare, turpis non iaculis convallis, magna diam viverra odio, vel convallis nulla felis eget nibh.</p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div">
                    <p>11Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed dui at libero vestibulum tincidunt in eu enim. Donec tempor dui eget erat aliquam pellentesque. Nam ornare, turpis non iaculis convallis, magna diam viverra odio, vel convallis nulla felis eget nibh.</p>
                </div>
            </div>
        </div>
    </div>

</div>