<div class="interactive-wrapper">
    <div class="header-wrapper">
        <span class="int-keyword">Brexit</span>
        <h1>How Brexit revealed four new political factions</h1>
        <p>The cracks within the UK's political parties have widened as cross-party factions wrangle for control of Brexit </p>
        <div class="int-byline">
            <a href="https://theguardian.com/profile/josh-holder">Josh Holder</a>, <a href="https://theguardian.com/profile/josh-holder">Seán Clarke</a> and <a href="https://theguardian.com/profile/antonio-voce">Antonio Voce</a>
            <p class="int-date" aria-hidden="true">
                <time itemprop="datePublished" datetime="2019-01-25T16:29:02+0000" data-timestamp="1548433742000" class="content__dateline-wpd js-wpd">   
                    Fri 25 Jan 2019 <span class="content__dateline-time">16.29&nbsp;GMT</span>    
                </time>
            </p>
        </div>
    </div>
    <div class="main-wrapper">
        <p>MP voting patterns on key Brexit votes reveal four new cross-party political factions that are wrangling for control of the negotiations.</p>
        <p>Whilst the split between the hard and soft-Brexit wings of the Conservatives is widely reported, the emergence of a new liberal bloc of opposition party MPs demonstrates that Labour is also at risk of permanently fracturing over the frontbench's pro-Brexit policy.</p>
        <p>Guardian analysis of voting records has clustered MPs into key groups to chart how party politics has given way in the face of Brexit. </p>
        <p><b>Search for your MP to see which faction they most closely aligned with as the Brexit votes unfolded</b></p> 
    </div>
    <div class="scroll-wrapper">
        <div class="gv-member-search"></div>
        <div class="scroll-inner">
            
        </div> 
        <div class="scroll-text">
                <div class="scroll-text__inner">
                        <div class="scroll-text__div">
                            <p class="vote-title">Party politics</p>
                            <p>Here each MP is represented by a circle (<span class="key-circle"></span>) and grouped by party, but key Brexit votes have upended traditional party politics and seen the formation of new cross-party alliances.</p>
                        </div> 
                    </div>
            {{#Sheet1}}
                <div class="scroll-text__inner">
                    <div class="scroll-text__div">
                        <p class="vote-title">{{voteTitle}}</p>
                        <p class="date-time">{{voteDate}}</p>
                        <p>{{{narrative}}}</p>
                    </div> 
                </div>
            {{/Sheet1}}
        </div>
    </div>

</div>