@import "mq";
@import "fonts";
@import "palette";
// Uncomment for embeds
//@import "embed";
// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";
.element-atom,
.interactive-atom {
    margin: 0 !important;

    .gv-cell {
        display: inline;
        @include fs-textSans(3);
        padding-right:15px;
    }

    .expanded {
        display: inline;
    }
    .collapsed {
        display: none;
    }

    .gv-bbv-inner-table {
        display: table;
    }

    .gv-cell {
        display: table-cell;
        width: 1%;
    }
    .gv-summary-row, .gv-table-row {
        display: table-row;
    }
    .gv-table-header-group {
        display: table-header-group;
    }
    .gv-table-row-group {
        display: table-row-group;
    }

}
