@import "mq";
@import "fonts";
@import "palette";
// Uncomment for embeds
//@import "embed";
// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";
.element-atom,
.interactive-atom {
    margin: 0 !important;

    .gv-cell {
        display: inline;
        @include fs-textSans(3);
        padding-right:15px;
    }

    .expanded {
        display: inline;
    }
    .collapsed {
        display: none;
    }
}