@import "mq";
@import "fonts";
@import "palette";
// Uncomment for embeds
//@import "embed";
// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";
.element-atom,
.interactive-atom {
    margin: 0 !important;
}

.gv-waffle-container {
    position: relative;
    margin-bottom: 24px;
    max-width: 860px;
}

.gv-waffle-container-nodata {
    padding-top: 40px;
    position: relative;
    margin-bottom: 80px;

    @include mq($until: tablet) {
        padding-top: 42px;
    }
}

.gv-main-vote__svg {
    margin-bottom: 12px;
}


.gv-count__before {
    @include fs-header(2);
    margin-bottom: 0;

    display: inline-block;

    @include mq($until: tablet) {
        @include fs-header(1);
    }
}

.gv-count {
    @include fs-titlepiece(2);

    line-height: 40px;

    color: black;

    margin-bottom: 3px;

    //display: inline-block;

    @include mq($until: tablet) {
        @include fs-titlepiece(1);
        line-height: 40px;
    }

    &.gv-count--ayes {
        //color: $feature-blue;
    }

    &.gv-count--noes {
        //color: $news-red;
    }

}

.gv-checkmark {
    height: 16px;
    width: 16px;
    transform: translate(0, 2px);
    margin-right: 4px;
    display: inline-block;
}

    .gv-cell {
        display: inline;
        @include fs-textSans(3);
        padding-right:15px;
    }

    .expanded {
        display: inline;
    }
    .collapsed {
        display: none;
    }

    .gv-bbv-inner-table {
        display: table;
        border-collapse: collapse;
    }

    .gv-cell {
        display: table-cell;
       width: 1%;
       border: 0;
    }
    .gv-summary-row, .gv-table-row {
        display: table-row;
    }
    .gv-table-header-group {
        display: table-header-group;
        font-weight: 800;
    }
    .gv-table-row-group {
        display: table-row-group;
    }
    .gv-vote-item {
       display: inline-block;
        padding-right: 25px;
    }
    .gv-votelist-cell {
        width: 400%;
        max-width: 720px;
    }

    .gv-empty {
        display: none;
        width: 0px;
    }

    .gv-details {
        position: absolute;
        opacity: 1;
        background-color: white;
        z-index: 200;
    }

    .gv-collapsed {
        display: none;
    }

    .gv-details-close {
        float: right;
    }



.gv-vote-item {
    display: inline;
}

.gv-topline-title {
    @include fs-bodyCopy(3);
    font-weight: bold;
    margin-bottom: 8px;
}

.gv-topline-wrapper {
    @include mq(mobile) {
        width: 100%;
        margin-bottom: 10px;
        background: #f6f6f6;
        padding: 4px 8px;
    }

    @include mq(tablet) {
        width: 320px;
    }
     
    @include mq(desktop) {
        width: 290px;
    }
    
    @include mq(leftCol) {
        width: 30%;
        margin-bottom: 20px;
    }
}

.gv-topline-bar {
    display: flex;
    width: 80%;
    flex-shrink: 0;
    margin-bottom: 5px;
    height: 18px;
}

.gv-amendments-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gv-bar-wrap {
    width: 100%;
    display: flex;
    align-items: center;
}

.gv-side-label {
    @include fs-textSans(4);
    font-weight: bold;
    width: 25px;
    padding-right: 5px;
    // text-align: right;
}

.gv-num-label {
    @include fs-textSans(4);
    // font-weight: bold;
    // width: 25px;
    margin-left: 10px;
    // text-align: right;
}

.gv-topline-description {
    @include fs-bodyCopy(1);
    margin-top: 12px;
}

.gv-placeholder-text {
    @include fs-textSans(4);
}

.gv-topline-result {
    height: 40px;
}

.gv-main-vote__title {

    @include fs-bodyCopy(3);
    font-size: 24px;
    line-height: 28px;
}

.gv-main-vote__gloss {
    @include fs-headline(4);
    font-weight: 200;
    color: #767676;
    margin-bottom: 6px;
}

//////// temporary table css

.int-table {
	display: table;
    table-layout: fixed;
    width: 100%;
    @include mq(desktop) {
        width: 860px;
    }
    border-collapse: collapse;
    max-width: 860px;
    margin-bottom: 24px;

    @include mq(mobile) {
        @include fs-textSans(2);
    }

    @include mq(mobileLandscape) {
        @include fs-textSans(3);
    }

}

.int-party-name {
    @include fs-header(3);
    margin-bottom: 0px;
    padding: 0;
}

#search-input {
    display: block;
    margin-bottom: 24px;
    width: 100%;
    border-radius: 0px !important;

    @include mq(desktop) {
        width: 860px;
    }
    height: 36px;
    border: 0;
    color: #000;
    border-bottom: 2px solid #000;
    outline: none;
    background-color: #fff;
    transition: background-color 0.25s ease-in-out;

        background-color: #f6f6f6;
    padding-left: 5px;
}

.int-row {
    display: table-row;
    // position: relative;
    border-top: 1px solid #dcdcdc;
    cursor: pointer;

    &.int-row--header {
        font-weight: bold;
        border-bottom: 2px solid #000;
        border-top: 0;
        cursor: pointer;

        .int-cell {
            vertical-align: bottom;
            padding-bottom: 4px;
            color: #000 !important;

            &:nth-of-type(4) {
                border-left: 0;
            }
        }
    }
}
.int-cell {
    @include mq(mobile) {
        min-height: 40px;
    }

    @include mq(tablet) {
        min-height: 36px;
    }
    color: #121212;
    display: table-cell;
    height: 36px;
    padding-top: 3px;
    box-sizing: border-box;

    &:first-of-type {
        font-weight: bold;
        @include mq(mobile) {
            width: 30px;

        }
        @include mq(mobileLandscape) {
            width: 50px;
        }
    }
    // vertical-align: bottom;

    &:nth-of-type(4) {
        border-left: 1px solid #000;
    }
}

.int-cell--vote {

    @include mq(mobile) {
        width : 36px
    }
    @include mq(mobileLandscape) {
        width: 74px;
    }
    padding-left: 5px;
    // border: 1px solid #fff;
    border-left: 1px solid #fff;
    text-align: left;
    // color: #333;
    font-weight: bold;
}


.int-cell--party {

    @include mq(mobile) {
        width : 28px
    }
    @include mq(mobileLandscape) {
        width: 50px;
    }
    // padding-left: 5px;
    // border: 1px solid #fff;
    border-left: 1px solid #fff;
    text-align: left;
    // color: #333;
    font-weight: bold;
}

.int-cell--reb {
    
    @include mq(mobile) {
        text-align: right;
        width: 28px;
    }
    @include mq(mobileLandscape) {
        text-align: left;
        width: 40px;
    }
}

.int-cell--name {
    // display: flex;
    align-items: baseline;
}

.int-cell--const {
    color: #767676;
}

.int-cell--vote-For {
    // background-color: #333;
    color: #3db540;
}

.int-cell--vote-Against   {
    // background-color: #dcdcdc;
    color: #c70000;
}

.int-cell--vote-A {
    // background-color: #fff;
    color: #333;
}

.int-color--Lab {
    color: $news-red;
}

.int-color--Con {
    color: $gu-sport-kicker;
}

.int-color--LD {
    color: $gu-opinion;
}

.int-color--Grn {
    color: #33A22B;
}

.int-color--SF {
    color: #7fac58;
}

.int-color--SNP {
    color: #fae051;
}

.int-color--DUP {
    color: #9a1b33;
}

.int-color--PC {
    color: #9bb4be;
}

.int-color-Ind {
    color: #767676;
}


p.int-pass-fail {
    @include fs-textSans(3);
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0 !important;
}

p.int--failed {
    color: $news-red;
}

.gv-majority__line {
    
    stroke: black;
    stroke-width: 3;
    fill: none;

}

.gv-majority__label {
    @include fs-textSans(1);
    text-anchor: middle;
    display: none;
}

.gv-drawer {
	// display: table;
    // table-layout: fixed;
    // @include mq(mobile) {
    //     width: 100% !important;
    //     @include fs-textSans(3);
    // }
    // @include mq(tablet) {
    //      width: 534px;
    // }

    // @include mq(desktop) {
    //     width: 534px;
    //     max-width: 534px;
    // }
    min-width: 300px;
    padding-bottom: 20px;
    // padding-left: 5px;

    @include mq(desktop) {
        min-width: 746px;
        border-right: 1px solid #121212;
    }
}

.drawer-vote {
    min-width: 300px;
}
.gv-mp-search {
    border-radius: 50px;
    border: 1px solid #979797;
    height: 30px;
    @include fs-textSans(2);
    padding: 0 10px;
    display: flex;
    align-items: center;
    width: 200px;
    margin-bottom: 18px;
    margin-top: 20px;
}

.gv-mp-search >input {
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    width: 180px;
}

.gv-search-icon {
    height: 18px;
    margin-right: 2px;
}

.gv-downtrg {
    color: #767676;
    margin-left: 4px;
    display: inline;
}

.gv-downtrg--absolute {
    position: absolute;
}

.gv-waffle__novote {
    background: #efefef;
    width: 100%;
    max-width: 860px;
    padding: 24px 10px;
    margin: 12px 0;
    margin-bottom: 48px;
    height: 150px;
    vertical-align: middle;
}

.gv-waffle__waiting {
    @include fs-bodyCopy(3);
    line-height: 150px;
    text-align: center;
}

.gv-teller-disclaimer {
    @include fs-bodyCopy(2);
}

.gv-expand-disclaimer {
    @include fs-textSans(2);
    color: #979797;
    margin-bottom: -10px;
}

.gv-bold {
    font-weight: bold;
    display: inline;
}